* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: black;
  margin: 0;
  height: 90vh;
  /* overflow: hidden; */
}

main {
  min-height: 100%;
  margin-bottom: -100px;
}

main:after {
  content: "";
  display: block;
  height: 100px;
}

.center_absolute {
  /* background-color: lightgreen; */
  display: table;
  margin: 0 auto;
  margin-top: 100px;
  padding: 10px;
}

.logo {
  height: 180px;
  min-height: 180px;
  width: auto;
  display: none;
  display: table;
  margin: 0 auto;
  -webkit-filter: drop-shadow(0px 0px 6px #2A8EFF);
  filter: drop-shadow(0px 0px 3px #2A8EFF);
}

.center_absolute:hover img {
  -webkit-filter: drop-shadow(0px 0px 8px #2A8EFF);
  filter: drop-shadow(0px 0px 4px #2A8EFF);
}

.goout {
  margin-top: 12px;
  height: 64px;
  width: auto;
  border-radius: 20px;
  -webkit-filter: drop-shadow(0px 0px 10px #7cc6ff);
  filter: drop-shadow(0px 0px 5px #7cc6ff);
}
.goout_anchor {
  margin-top: 30px;
  margin-left: 30px;
  display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  -webkit-justify-content: center;
  height: 90px;
  width: 94px;
  /* overflow: auto; */
  /* background-color: lightpink; */
}
.calendar {
 float: left;
}
.goout_anchor:hover img {
  -webkit-filter: drop-shadow(0px 0px 10px #87c6f7);
  filter: drop-shadow(0px 0px 5px #87c6f7);
}
.left_container {
  /* position: absolute; */
  /* float: left; */
  width: 200px
}
.pismena {
  /* background-color: lightgreen; */
  display: table;
  margin: 0 auto;
  margin-top: 100px;
  padding: 10px;
}

#l, #e, #t, #i, #hacek, #tt, #hacek_ {
  visibility: hidden;
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  /* background-color: pink; */

  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  font-size: 0.75em;
  padding: 10px 0;
  overflow: hidden;
}
.inner {
  margin: 0 auto;
  width: 100%;
}

ol, ul {
  list-style-type: none;
}

li {
  display: list-item;
  /* padding: 5px; */
}

.social_icons {
  position: absolute;
  right: 40px;
  top: 40px;
}

.social_icons>li {
  padding: 0 0 15px 0;
  position: relative
}

.social_icons__icon {
  position: relative;
  width: 32px;
  height: 32px;
}

#insta {
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  html, body {
    overflow: scroll;
  }
  .goout {
    max-height: 50px;
    min-height: 50px;
    width: auto !important
    /* padding: 0px; */
  }
  .goout_anchor {
    margin-top: 28px;
    margin-left: 25px;
    max-height: 75px;
  }
  .logo {
    margin-top: -80px;
    max-height: 130px;
    min-height: 100px;
  }
  #l, #e, #t, #i, #tt{
    max-height: 50px;
    width: auto !important
  }
  #hacek, #hacek_ {
    max-height: 55px;
    width: auto !important
  }
  .pismena {
    margin-top: 50px;
  }
  .left_container {

  }
  .calendar {
    max-height: 40px;
    float: none;
  }
}
