html, body {
  /* background-color: black; */
  height: 100%;
}

main {
  min-height: 100%;
  margin-bottom: -100px;
}

main:after {
  content: "";
  display: block;
  height: 100px;
}

.center_absolute {
  /* background-color: lightgreen; */
  margin: 0;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 300px;
  width: auto;
  display: none;
  -webkit-filter: drop-shadow(0px 0px 2px #35cbce);
  filter: drop-shadow(0px 0px 2px #35cbce);
  /* border-radius: 150px; */
}

.center_absolute:hover img {
  -webkit-filter: drop-shadow(0px 0px 5px #2899d6);
  filter: drop-shadow(0px 0px 5px #2899d6);
}

.goout {
  height: 100px;
  width: auto;
  border-radius: 90px;
  padding: 40px;
  -webkit-filter: drop-shadow(5px 5px 5px #224);
  filter: drop-shadow(5px 5px 5px #224);
  margin: 0;
  /* position: relative; */
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

.goout_anchor {
  /* padding: 30px; */
  /* display: flex; */
  /* align-items: center; */
  /* background-color: lightgreen; */
}

.goout_anchor:hover img {
  -webkit-filter: drop-shadow(5px 5px 5px #224);
  filter: drop-shadow(5px 5px 5px #224);
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  /* background-color: pink; */
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  font-size: 0.75em;
  padding: 10px 0;
  overflow: hidden;
}

.inner {
  margin: 0 auto;
  width: 100%;
}

ol, ul {
  list-style-type: none;
}

li {
  display: list-item;
  /* padding: 5px; */
}

.social_icons {
  position: absolute;
  right: 40px;
  top: 40px;
}

.social_icons>li {
  padding: 0 0 15px 0;
  position: relative
}

.social_icons a:hover .social_icons__icon {
  visibility: hidden
}

.social_icons a:hover .social_icons__icon--hover {
  z-index: 3;
  visibility: visible
}


.social_icons__icon {
  position: relative;
  z-index: 2
}

.social_icons__icon--hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden
}

@media (max-width: 767px) {
  .social_icons {
    right: 10px;
    top: 15px
  }
  .social_icons>li {
    padding-bottom: 7px
  }
  .social_icons>li.social_icons__sep {
    padding-bottom: 14px
  }
  .social_icons img {
    max-width: 25px;
    height: auto !important
  }
}
