html, body {
  background-color: black;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

main {
  min-height: 100%;
  margin-bottom: -100px;
}

main:after {
  content: "";
  display: block;
  height: 100px;
}

.center_absolute {
  /* background-color: lightgreen; */
  display: table;
  margin: 0 auto;
  margin-top: 100px;
  padding: 10px;
}

.logo {
  height: 180px;
  width: auto;
  display: none;
  display: table;
  margin: 0 auto;
  -webkit-filter: drop-shadow(0px 0px 3px #2A8EFF);
  filter: drop-shadow(0px 0px 3px #2A8EFF);
}

.center_absolute:hover img {
  -webkit-filter: drop-shadow(0px 0px 4px #2A8EFF);
  filter: drop-shadow(0px 0px 4px #2A8EFF);
}

.goout {
  height: 70px;
  width: auto;
  padding: 10px;
  margin-top: 40px;
  margin-left: 40px;
  border-radius: 30px;
  -webkit-filter: drop-shadow(0px 0px 10px #7cc6ff);
  filter: drop-shadow(0px 0px 10px #7cc6ff);
}

/* .goout_container {
  width: 50%;
  height: 50%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
} */

.goout_anchor {
  display: flex;
  justify-content: center;
  /* align-content: center; */
  height: 150px;
  width: 150px;
  /* background-color: lightpink; */
}

.goout_anchor:hover img {
  -webkit-filter: drop-shadow(0px 0px 10px #7cc6ff);
  filter: drop-shadow(0px 0px 10px #7cc6ff);
}

.pismena {
  /* background-color: lightgreen; */
  display: table;
  margin: 0 auto;
  margin-top: 100px;
  padding: 10px;
}

#l, #e, #t, #i, #hacek, #tt, #hacek_ {
  visibility: hidden;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  /* background-color: pink; */

  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  font-size: 0.75em;
  padding: 10px 0;
  overflow: hidden;
}

.inner {
  margin: 0 auto;
  width: 100%;
}

ol, ul {
  list-style-type: none;
}

li {
  display: list-item;
  /* padding: 5px; */
}

.social_icons {
  position: absolute;
  right: 40px;
  top: 40px;
}

.social_icons>li {
  padding: 0 0 15px 0;
  position: relative
}

.social_icons__icon {
  position: relative;
  z-index: 2
}

#insta {
  border-radius: 4px;
}

@media (max-width: 767px) {
  html, body {
    overflow: scroll;
  }
  .goout {
    margin-top: 20px;
    margin-left: 20px;
    /* padding: 0px; */
  }
  .logo {
    margin-top: -80px;
  }
  #l, #e, #t, #i, #tt{
    max-height: 50px;
    width: auto !important
  }
  #hacek, #hacek_ {
    max-height: 55px;
    width: auto !important
  }
  .pismena {
    margin-top: 50px;
  }
}
